# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build
build/*
!build/build.xml

06-otus-basic-cmake/build/*
!06-otus-basic-cmake/build/build.xml

06-otus-basic-cmake/example1/build/*
!06-otus-basic-cmake/example1/build/build.xml

06-otus-basic-cmake/example2/build/*
!06-otus-basic-cmake/example2/build/build.xml

06-otus-basic-cmake/example3/build/*
!06-otus-basic-cmake/example3/build/build.xml

06-otus-basic-cmake/example4/build/*
!06-otus-basic-cmake/example4/build/build.xml
